---
layout: default
---

<article class="post-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h2 class="post-title" itemprop="name headline">

            {%- if page.collection != 'posts' -%}
            <a class="pure-button" href="{{site.url}}{{site.baseurl}}/{{page.collection}}">
                {{page.collection | capitalize}}
            </a>
            >> &nbsp; 
            {%- endif -%}

            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.title | escape }} - 
            ({{ page.title | date: date_format }} )
        </h2>
    </header>

    <div class="post-topic">
        <h3>Statement: </h3>
        {{ page.topic }}
        <p>
            <strong>Debit</strong>: {{ page.debit }}
            <strong>Credit</strong>: {{ page.credit }}
        </p>
    </div>

    <div class="post-body itemprop=">
        {{ content }}
    </div>

    <!-- {%- include author.html -%} -->

    {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>