---
layout: default
---
{{ content }}

{% assign statements = site.statements | reverse  %}

<div class="statements">
    <h2 class="content-subhead">Statements</h2>

    {%- if statements.size > 0 -%}
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

        {%- for statement in statements -%}
            <section class="post">
                <header class="note-header">
                    <h2 class="post-title">
                        <a href="{{ statement.url | relative_url }}">
                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                            {{ statement.title | escape }} - 
                            ({{ statement.title | date: date_format }} )
                        </a>
                    </h2>
                    <p class="post-topic">
                       <strong>Debit:</strong> {{ statement.debit }}
                       <strong>Credit:</strong> {{ statement.credit }}
                       <br>

                      {%- if statement.protein -%}
                       <strong>Protein:</strong> {{ statement.protein }} &nbsp;
                      {%- endif -%}
                      {%- if statement.exercise -%}
                       <strong>Exercise:</strong> {{ statement.exercise }}
                      {%- endif -%}

                      {%- if statement.exercise or statement.protein -%}
                       <br>
                      {%- endif -%}

                      {%- if statement.learning -%}
                          <strong>Learning Rating:</strong> {{ statement.learning }} out of 10<br>
                      {%- endif -%}
                      {%- if statement.working -%}
                          <strong>Working Rating:</strong> {{ statement.working }} out of 10<br>
                      {%- endif -%}

                    </p>
                </header>
            </section>
        {%- endfor -%}
    </div>


    <br/>

{%- endif -%}
